<form action="https://formsubmit.co/" method="POST" id="contactform" class="needs-validation" novalidate>
  <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
  <input type="hidden" name="_next" value="https://www.ignitedevs.com/contact/" />
  <div class="mb-5">
    <input
      type="text"
      placeholder="Full Name"
      required
      class="w-full px-4 py-3 border-2 bg-white dark:bg-dark placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="name"
    />
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">Please provide your full name.</div>
  </div>
  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label><input
      id="email_address"
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback text-red-400 text-sm mt-1">Please provide your email address.</div>
    <div class="invalid-feedback text-red-400 text-sm mt-1">Please provide a valid email address.</div>
  </div>
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">Please enter your message.</div>
    <div class="flex flex-col justify-center items-center space-y-5 p-2 border shadow-md rounded-md">
      <Fragment slot="title">
        <span class="sm:whitespace-nowrap font-bold text-6xl"
          >Join us on this <p class="font-libre italic text-sky-800 dark:text-slate-50">exciting journey.</p></span
        >
      </Fragment>
      <button class="btn btn-primary" type="submit">Send Message</button>
    </div>
  </div>

  <div id="result" class="mt-3 text-center"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById('form');
  const result = document.getElementById('result');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
    form.classList.add('was-validated');
    if (!form.checkValidity()) {
      form.querySelectorAll(':invalid')[0].focus();
      return;
    }
    result.innerHTML = 'Sending...';
    fetch('https://formsubmit.co/', {
      method: 'POST',
    });
  });
</script>
