---
import Hero from '~/components/widgets/Hero.astro';
import MainHeading from '~/components/widgets/MainHeading';
---

<!-- <section>
  <div class="flex flex-row justify-center lg:h-screen">
    <Hero>
      <MainHeading title="Growth" headingH1="Digital" headingP="" client:visible slot="title" />
      <Fragment slot="subtitle">
        <span class="sm:text-4xl text-xl text-black dark:text-slate-100"
          >This is where we connect people with the product. Our content is not only aimed at the search engines, but
          also at people. We develop digital strategies that exploit all digital potential: We analyze target groups and
          usage behaviour; and monitor visibility on Google or Bing. We create extensive performance marketing campaigns
          and roll them out on Instagram, Google or TikTok, leveraging the full potential of Social Media Marketing.</span
        >
      </Fragment>
    </Hero>
    <div class="hidden lg:flex">
      <lottie-player
        src="https://assets4.lottiefiles.com/private_files/lf30_i0cTdc.json"
        background="transparent"
        speed="1"
        style="width: 600px; height: 700px;"
        loop
        autoplay></lottie-player>
    </div>
  </div>
</section> -->
<section>
  <div class="flex flex-row justify-center lg:h-screen">
    <Hero>
      <MainHeading title="Growth" headingH1="Digital" headingP="" client:visible slot="title" />
      <Fragment slot="subtitle">
        <span class="sm:text-4xl text-xl text-black dark:text-slate-100"
          >This is where we connect people with the product. Our content is not only aimed at the search engines, but
          also at people. We develop digital strategies that exploit all digital potential: We analyze target groups and
          usage behaviour; and monitor visibility on Google or Bing. We create extensive performance marketing campaigns
          and roll them out on Instagram, Google or TikTok, leveraging the full potential of Social Media Marketing.</span
        >
      </Fragment>
    </Hero>
  </div>
</section>
