---
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '../Logo.astro';
---

<!-- <section class="flex flex-col bottom-0 h-28 bg-blue-50 dark:bg-slate-700"> -->
<footer>
  <div class="flex flex-col items-center">
    <div>
      <p class="text-center text-sm text-slate-800 dark:text-slate-100">
        Copyright © {new Date().getFullYear()} ignitedevs.
      </p>
      <p class="text-center text-xs text-slate-800 dark:text-slate-100 mt-1"></p>
    </div>
    <div>
      <a href="/" class="text-lg" aria-label="logo">
        <a class="flex items-center" href={getHomePermalink()} aria-label="logo">
          <Logo height={'h-[30px]'} width={'w-auto'} heightAdjust={'md:h-[40px]'} />
        </a>
      </a>
    </div>
  </div>
</footer>
<!-- </section> -->
