---
interface Item {
  name: string;
}

const { items = [] } = Astro.props;
---

<div class="px-4 py-4 md:py-16 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-20 max-w-6xl">
  <div class="grid grid-cols-1 lg:grid-cols-6 md:grid-cols-2 md:gap-1">
    {
      items.map(({ name }) => (
        <div class="text-center lg:border-r md:last:border-none dark:md:border-slate-500 mb-12 md:mb-0">
          <p class="p-5 text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
            {name}
          </p>
        </div>
      ))
    }
  </div>
</div>
