---
import Hero from '~/components/widgets/Hero.astro';
import MainHeading from '~/components/widgets/MainHeading';
import BurnnnCard from './BurnnnCard';
import QuetekCard from './QuetekCard';
import RubatoCard from './RubatoCard';
---

<section>
  <div class="flex flex-col justify-center">
    <Hero>
      <MainHeading title="Development" headingH1="Web" headingP="" client:visible slot="title" />
      <Fragment slot="subtitle">
        <span class="sm:text-4xl text-xl text-black dark:text-slate-100"
          >We use cutting-edge technology stacks for web development. Some of our tech stack consists of React, NextJS,
          Angular, Astro, Wordpress, NodeJS, Kotlin, and.Net. We research your idea and choose the stack that is best
          suited for your needs, depending on robustness, scalability, and futureproofing.</span
        >
      </Fragment>
    </Hero>
    <div class="w-full"><BurnnnCard client:load /> <QuetekCard client:load /> <RubatoCard client:load /></div>
  </div>
</section>
