---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import MainHeading from '~/components/widgets/MainHeading';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: false,
};

const headingH1 = 'We create';
const headingP = 'Digital Products and Experiences';
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <div class="flex flex-col justify-center">
    <Hero>
      <MainHeading title="For People" headingH1={headingH1} headingP={headingP} client:visible slot="title" />
      <Fragment slot="subtitle">
        <span class="sm:text-4xl text-xl text-black dark:text-slate-100"
          >We are a team of developers and designers with one goal: We think in solutions and combine design with
          innovative technologies & digital marketing. That's how we create unique digital experiences.</span
        >
      </Fragment>
    </Hero>
  </div>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget *************** -->

  <Features2
    title="Our Process"
    subtitle="We concieve and design worlds of experience that connects people with brands."
    highlight=""
    items={[
      {
        title: 'Discovery',
        description:
          'We discover the scope of your ideas, analyze and discuss the challenges and consult on the most reliable and robust possible solutions.',
        icon: 'teenyicons:target-outline',
      },
      {
        title: 'Strategy',
        description:
          'We validate the strategy for the development and marketing of your project. We create a working plan in which the users’ needs are met with a solution that fulfils the business goals.',
        icon: 'mdi:strategy',
      },
      {
        title: 'Design',
        description:
          'Our designers create a intuitive design and display your product in action. We gather feedback and further polish the product to perfection.',
        icon: 'ic:outline-design-services',
      },
      {
        title: 'Development',
        description:
          'This is where your idea comes to life. Our development process makes sure to gather your feedback and provide a top quality, intuitive, robust and scalable product.',
        icon: 'ic:baseline-developer-mode',
      },

      {
        title: 'Testing',
        description:
          'We rigorously test the product against the requirements and make sure that each requirement is fulfiled. We make sure to provide a pixel perfect version of the product.',
        icon: 'file-icons:test-generic',
      },
      {
        title: 'Launch',
        description: 'Upon testing and approval, your project will be launched. Sit back and watch the momentum.',
        icon: 'eos-icons:deploy',
      },
      {
        title: 'Marketing',
        description:
          'We will market your product to help find its niche audience. You can extend the reach of your product with our social media marketing campaings.',
        icon: 'icon-park-outline:market-analysis',
      },
      {
        title: 'Pricing',
        description:
          'Our pricing will be very reasonable as we believe in making long lasting relationships with our customers. Value for money is our moto and we strictly stand by it.',
        icon: 'ic:outline-price-change',
      },
      {
        title: 'Future',
        description:
          'Planning to scale the project? We’ve got you covered. Just let us know what and when and we’ll take care of the rest.',
        icon: 'ic:baseline-update',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->
</Layout>
