---
import CustomerExperience from '~/components/widgets/CustomerExperience.astro';
import ProductEngineering from '~/components/widgets/ProductEngineering.astro';
import DigitalGrowth from '~/components/widgets/DigitalGrowth.astro';
import Layout from '../layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import { SITE } from '~/config.mjs';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: false,
};
---

<Layout {meta}>
  <div class="space-y-[10vh] lg:space-y-[30vh]">
    <CustomerExperience />
    <ProductEngineering />
    <DigitalGrowth />

    <Steps2
      title="Our three steps initial process will help you achieve your performance golas."
      subtitle="Send us your project proposal, we'll look at all three aspects: Product Engineering, Customer Experience and Digital Growth."
      items={[
        {
          title: 'Initial Proposal',
          description:
            "Send us your proposal or idea. We'll screen your idea to find the best markets, customers and future expansion.",
        },
        {
          title: 'Extensive Research',
          description:
            "Our teams will initiate an extensive research about the feasibility of the idea. We'll cover all three aspects: Customer Experience, Product Engineering and Digital Growth.",
        },
        {
          title: 'Our Offer',
          description:
            "We'll come back with an offer you can't refuse 😜. Once the offer is accepted, we'll start work immediately.",
        },
      ]}
    />
  </div>
</Layout>
