---
export interface Props {
  height: string;
  width: string;
}

const { height, width } = Astro.props;
---

<div class="flex flex-row">
  <img
    class:list={[height, width, 'flex', 'dark:hidden', 'md:h-[90px]']}
    src="/src/assets/logos/ignite-dark-transparent.png"
    alt="logo"
  />
  <img
    class:list={[height, width, 'hidden', 'dark:flex', 'md:h-[90px]']}
    src="/src/assets/logos/ignite-light-transparent.png"
    alt="logo"
  />
</div>
