---
export interface Props {
  text_size: string;
}

const { text_size } = Astro.props;
---

<div class:list={[text_size, 'py-5', 'px-5', 'flex', 'flex-row', 'font-bold', 'font-mono', 'text-sky-900']}>
  <a href="/">
    <span
      >&lt;<span class="font-libre italic text-black dark:text-slate-300">&nbsp;ignitedevs&nbsp;</span>&#47;&gt;</span
    >
  </a>
</div>
