---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import HeaderSmall from '~/components/widgets/HeaderSmall.astro';
import Footer from '~/components/widgets/Footer.astro';
import Logo from '~/components/Logo.astro';
import { headerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <div class="hidden md:flex flex-row justify-between">
    <div class="font-bold text-2xl py-10 px-10">
      <h1>Exploring Digital Future.<h2 class="font-libre italic">Together.</h2></h1>
    </div>
    <div class="py-10 px-10">
      <a href="/">
        <Logo text_size="text-2xl" />
      </a>
    </div>
  </div>
  <slot name="header">
    <HeaderSmall {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <slot name="footer">
    <Footer />
  </slot>
</Layout>
